.Rproj.user
.Rhistory
.RData
.Ruserdata
/data_import/processed_data/*

/collections/collections
/collections/results
/collections/logs/running/*
/collections/logs/finished/*
/collections/logs/failed/*
/collections/dictionaries
/collections/annotation_schemes
/Weiteres/*
/collections/word_vector_models/
/collections/annotation_schemes/
/collections/blacklists/*
/collections/whitelists/*
/data_import/
packrat/lib*/
