.Rproj.user
.Rhistory
.RData
.Ruserdata
/data_import/processed_data/*

/collections/collections/*
/collections/annotation_schemes/*
!/collections/annotation_schemes/.gitkeep
!/collections/collections/.gitkeep

/collections/logs/running/*
!/collections/logs/running/.gitkeep
/collections/logs/finished/*
!/collections/logs/finished/.gitkeep
/collections/logs/failed/*
!/collections/logs/failed/.gitkeep
/collections/dictionaries/*
!/collections/dictionaries/.gitkeep
/Weiteres/*
/collections/word_vector_models/*
!/collections/word_vector_models/.gitkeep
/collections/blacklists/*
!/collections/blacklists/.gitkeep
/collections/whitelists/*
!/collections/whitelists/.gitkeep
/data_import/processed_data/*
/data_import/unprocessed_data/*
!/data_import/processed_data/.gitkeep
!/data_import/unprocessed_data/.gitkeep
packrat/lib*/

/collections/results/classification/activeLearning/*
!/collections/results/classification/activeLearning/.gitkeep
/collections/results/classification/activeLearning_documents/*
!/collections/results/classification/activeLearning_documents/.gitkeep
/collections/results/classification/classifyCollection/*
!/collections/results/classification/classifyCollection/.gitkeep
/collections/results/classification/evaluateTraining/*
!/collections/results/classification/evaluateTraining/.gitkeep

/collections/results/cooccurrence-analysis/*
!/collections/results/cooccurrence-analysis/.gitkeep
/collections/results/dictionary-extraction/*
!/collections/results/dictionary-extraction/.gitkeep
/collections/results/document-deduplication/*
!/collections/results/document-deduplication/.gitkeep
/collections/results/extracted_collections/*
!/collections/results/extracted_collections/.gitkeep
/collections/results/factorial-analysis/*
!/collections/results/factorial-analysis/.gitkeep
/collections/results/frequency-extraction/*
!/collections/results/frequency-extraction/.gitkeep
/collections/results/keyword-extraction/*
!/collections/results/keyword-extraction/.gitkeep
/collections/results/sentiment_analysis/*
!/collections/results/sentiment_analysis/.gitkeep
/collections/results/topic-model/*
!/collections/results/topic-model/.gitkeep
/collections/results/vector-space-representation/*
!/collections/results/vector-space-representation/.gitkeep
/collections/results/volatility-analysis/*
!/collections/results/volatility-analysis/.gitkeep
/collections/results/syntactic-parsing/*
!/collections/results/syntactic-parsing/.gitkeep

